
// /***** HEADER part started *****/

.ununderline-link-hover:hover {
    text-decoration: none;
}

header {
    > div img:active {
        opacity: 0.7;
    }
}

img[alt="Restaurant logo"] {
    width: 180px;
    height: 170px;
}


// /***** navbar started *****/


nav {
    font-size: 65%;

    ul {
        width: 95%;
    }

    li {
        height: 60px;
    }

    li > a {
        letter-spacing: 2px;
    }
    
    .dropdown-menu {
        margin-top: -20px;
        font-size: 120%;
    }

    >div {
        width: 5%;
    }
}

// /***** navbar started *****/

#carusel-container {
    width: 100%;

    img {
        width: 100%;
        height: 400px;
    }
}


// /***** HEADER part ended *****/



// /***** SECTION main container *****/


.page-body {
    > div {
        width: 100%;
    }

    section {
        > div {
            width: 49%;
        }

        > p {
            letter-spacing: 2px;
            line-height: 25px;
            font-size: 71%;
        }
    }

    h2 {
        font-size: 160%;
        letter-spacing: 3px;
    }
    
    .left-img-containers-page-body {
        height: 170px;
    }
    
    .right-img-containers-page-body {
        height: 355px;
    }
    
    .article-containers-page-body {
        height: 160px;
    }
    
    h4 {
        letter-spacing: 2px;
        line-height: 18px;
        font-size: 90%;
    }
    
    article {
        line-height: 16px;
        font-size: 70%;
    }
    
    .article-footer {
        font-size: 65%;
    }
    
    .show-more {
        font-size: 90%;
    }

    .show-more-separator {
        margin-top: -21px;
        width: 40px;
    }
}



// /***** FOOTER *****/



footer {
    height: 360px;

    > div {
        height: 100%;
        padding: 115px 0 35px;

        > div {
            width: 60%;
            height: 210px;

            p, address {
                line-height: 18px;
                font-size: 49%;
            }
        }
    }

    >div:nth-child(2n-1) {

        a {
            width: 25px;
            height: 25px;
        }
        
        a:active {
            opacity: 0.7;
        }
    }

    >div:nth-child(2) {

        img {
            width: 80px;
            height: 75px;
            position: absolute;
            top: 5%;
            left: 35%;
        }

        ul {
            font-size: 65%;
        }

    }
    
    h4 {
        background-size: 30px 50px;
        line-height: 50px;
        letter-spacing: 2px;
        font-size: 54%;
    }
}


// /*** back to top ***/

#backToTop {
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    cursor: pointer; /* Add a mouse pointer on hover */
    width: 40px;
    height: 40px;
    opacity: 0.6;
}

#backToTop:active {
    opacity: 0.9;
}