/***** HEADER *****/

header {
    padding-top: 50px;
}

#header-sot_net-logo-subscribe-cont {
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.sot_net-subscribe-conts {
    width: 18%;
    height: auto;
}

img[alt="Go to our facebook page"] {
    width: 15px;
    height: 25px;
}

img[alt="Go to our pinterest page"] {
    width: 20px;
    height: 25px;
}

img[alt="Go to our twitter page"] {
    width: 28px;
    height: 25px;
}

img[alt="Go to our instagram page"] {
    width: 25px;
    height: 25px;
}

img[alt="Go to our whatsapp page"] {
    width: 25px;
    height: 25px;
}

#header-sot_net-logo-subscribe-cont > div:nth-child(2) {
    width: 64%;
    height: auto;
}

img[alt="Restaurant logo"] {
    width: 305px;
    height: 300px;
}

img[alt="Restaurant logo"]:hover {
    opacity: 0.5;
}

a[title ~="Subscribe"] {
    line-height: 25px;
    font-size: 90%;
}


.sot_net-subscribe-conts a {
    opacity: 0.5;
}

.sot_net-subscribe-conts a:hover {
    opacity: 1;
}



/***** navbar *****/



nav {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav li {
    height: 100px;
    font-size: 100%;
}

nav li:hover {
    background-image: url("../img/general/link_bg.png");
    background-size: 55px 80px;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-pluses {
    margin-left: 5px;
    font-size: 75%;
}

#search_cont {
    width: 23%;
    height: auto;
}

input[type="search"] {
    padding: 6px;
    font-size: 15px;
    letter-spacing: 1px;
}
  
button {
    cursor: pointer;
    font-size: 15px;
    padding: 7px;
}

button:hover {
    background: #ccc;
}

button:active {
    font-size: 15px;
}



/***** slider *****/



.slider {
    width: 60%;
    height: 100px;
    position: relative;
    margin: 20px auto 0;
}

.slItems {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slItem {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

.ctrlNext {
    display: none;
}

.ctrlPrev {
    display: none;
}

.slItem.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.next, .prev {
    transition: transform 0.7s ease-in-out;
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    -moz-transition: -moz-transform 0.7s ease-in-out;
    -o-transition: -o-transform 0.7s ease-in-out;
    -ms-transition: -ms-transform 0.7s ease-in-out;
}

.slItem.nextItem {
    opacity: 1;
    visibility: visible;
    transform: translate3d(100%,0, 0);
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
}

.slItem.nextItem.next, .slItem.prevItem.prev {
    transform: translate3d(0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.slItem.active.next {
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
}

.slItem.prevItem {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
}

.slItem.active.prev {
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
}



/***** SECTION main container *****/



#main-section {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

#title-cont-main-section {
    height: 130px;
    margin: 70px 0 105px;
}

#theme-main-section {
    font-size: 1.4em;
    letter-spacing: 3px;
}

#desc-main-section {
    font-size: 95%;
    line-height: 28px;
    letter-spacing: 3px;
}

.content-conts-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px; 
}

.content-conts-main-section > div {
    width: 46%;
}

.left-img-cont-main-section {
    height: 290px;
}

.right-img-cont-main-section {
    height: 630px;
}

.articles-main-section {
    height: 200px;
}

.left-article-main-section {
    text-align: right;
}

h3 {
    letter-spacing: 3px;
}

.content-conts-main-section>div>div {
    height: 25%;
}

.desc-content-main-section {
    line-height: 30px;
}

.date-category-conts-main-section {
    font-size: 90%;
}

.share-view_more-conts-main-section {
    font-size: 90%;
}

.share-view_more-conts-main-section a:hover {
    text-decoration: underline;
}

.share-view_more-conts-main-section span:hover {
    opacity: 0.5;
    cursor: pointer;
}

#show_more-cont {
    margin-bottom: 100px;
}

#show_more-cont a {
    letter-spacing: 3px;
    line-height: 25px;
}

#show_more-cont a:hover {
    opacity: 0.5;
}



/***** FOOTER *****/



footer {
    height: 700px;
    display: flex;
}

.info-conts-footer {
    width: 33.3%;
    height: 100%;
}

.aside-info-conts-footer {
    padding: 150px 0 130px;
}

.aside-info-conts-footer > div {
    width: 60%;
    height: 350px;
}

.info-conts-footer h4 {
    background-size: 80px 110px;
    line-height: 110px;
    letter-spacing: 3px;
}

.aside-info-conts-footer p {
    line-height: 30px;
    font-size: 100%;
    letter-spacing: 2px;
}

.aside-info-conts-footer a {
    width: 50px;    
    height: 50px;
}

.aside-info-conts-footer a:hover {
    opacity: 0.7;
}

#center-info-cont-footer {
    padding: 20px 0 130px;
}

#nav-cont-footer {
    width: 60%;
    height: 350px;
}

#nav-cont-footer a {
    line-height: 35px;
}

#nav-cont-footer a:hover {
    text-decoration: underline;
}

/*** back to top ***/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #bbb; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 45px;
    height: 45px;
}

#myBtn:hover {
    background-color: #777; /* Add a dark-grey background on hover */
}